
.top, .bottom{
	width: 100%;
}

.img-bg {
	background:url(../assets/img/ladrawing2.jpg) no-repeat;
	/*height:2000px;*/
	height:150%;
	width:100%;
	background-size: cover;
	
	
	z-index:-2;
	position:fixed;
	top:0;
	left:0;
	/*width:1500px;*/
	
}


#slide-2 h2 {
    position: fixed;
    top: 70%;
}

.blue-bg{
	padding-top: 40vh;
	text-align: center;
	background: blue;
	z-index:-3;
}

#container {
	margin: 0 auto;
	width: 70vw;
}

#sub-container {
	margin-top: 30vh;
	padding: 30px;
	background-color: #f6f6f6;
	margin-bottom: 1200px;
	color: black;
	font-family: "Roboto", Helvetica, Arial, sans-serif;
	font-weight:lighter;
	font-size: 10;
}

#meta {
	/*width: 60vw; */
	/*margin-left: 500px;*/
	/*margin-right: auto;*/
	/*margin-top: 5vh; */
	/*margin-right: 12vw; */
	text-align: center;
}

#meta2 {
	margin-right: 150px;
	float: right;
	font-family: "Lato", sans-serif;
}

#back {
	height: 20px;
	background-color: rgb(255, 255, 255, 0.8);
}

#back a {
	color: black;
}


#cf {
  position:relative;
  width: 100%
  margin:0 auto; 
}

#cf img {
  position:absolute;
  left:0;
  opacity: 1; 
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}